body {
    font-family: 'Oswald', sans-serif!important;
    color: #333!important;
    background: url(https://media.istockphoto.com/vectors/fast-food-seamless-pattern-with-vector-line-icons-of-hamburger-pizza-vector-id1182393436?b=1&k=6&m=1182393436&s=612x612&w=0&h=eTVxej65rz5jSsGliGiddpilcQmCyiximDOIrCm__bY=) center center;
}